@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #146ab4, #15935D);
}

canvas {
    box-shadow: 0px 0px 100px #fff;
}